<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848918610697-tdfcb76umfb2pn888lvbc31e9lnnnohk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848918610697-tdfcb76umfb2pn888lvbc31e9lnnnohk</string>
	<key>API_KEY</key>
	<string>AIzaSyBSIc2Hvd2vsb3ntePcH2OVnwEG7XyWJxk</string>
	<key>GCM_SENDER_ID</key>
	<string>848918610697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginpage</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-2ca87</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-2ca87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848918610697:ios:2121192ffbec26022489d8</string>
</dict>
</plist>